/*------------------ Counter With Icon One --------------*/
.counter-with-icon-one .border-style {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 58px 0 90px;
}
.counter-box-three {
  text-align: center;
  margin-top: 40px;
}
.counter-box-three .icon {
  height: 62px;
  display: inline-block;
}
.counter-box-three .number {
  font-size: 38px;
  padding: 5px 0 3px;
}
.counter-box-three p {
  font-weight: 300;
  font-size: 24px;
  color: #000;
}