
/*-------------------- Counter Style Three --------------*/
.counter-box-five .number {
  font-size: 58px;
  font-weight: 700;
  line-height: initial;
}
.counter-box-five p {
  color: #000;
}
.counter-box-five .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 auto 15px;
}