
/*-------------------- Counter Style Two --------------*/
.counter-style-two {
  padding: 0 15px;
}
.counter-style-two .border-bottom {
  max-width: 1600px;
  margin: 0 auto;
  border-bottom: 1px solid #e8e8e8 !important;
  padding-bottom: 120px;
}
.counter-box-four {
  text-align: center;
  margin-top: 40px;
}
.counter-box-four .number {
  font-family: "Recoleta";
  font-size: 60px;
  color: #000;
}
.counter-box-four p {
  color: #000;
}