
/*------------------- Fancy Text block Eighteen ----------------*/
.fancy-text-block-eighteen {
  background: linear-gradient(180deg, #ffffff, #edf2f9);
  padding-bottom: 425px;
}
.fancy-text-block-eighteen .illustration {
  margin: 0 auto;
}