
/*------------------ Fancy Portfolio One --------------*/
.fancy-portfolio-one {
  position: relative;
  z-index: 1;
}
.fancy-portfolio-one .img-meta {
  border-radius: 20px;
  overflow: hidden;
  margin: 0 20px;
}
.fancy-portfolio-one .img-meta img {
  margin: 0 auto;
}
.portfolioSliderOne {
  max-width: 1800px;
  margin: 0 auto;
}
.fancy-portfolio-one .slider-arrows > div {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  margin-left: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.fancy-portfolio-one .slider-arrows > div:hover {
  background: #ff2759;
}
.fancy-portfolio-one .slider-arrows {
  position: absolute;
  top: 28px;
  right: 16%;
}
.fancy-portfolio-one:before {
  content: "";
  position: absolute;
  width: 890px;
  height: 890px;
  border-radius: 50%;
  top: -27%;
  left: 1%;
  background: rgba(89, 156, 255, 0.1);
  filter: blur(300px);
  transform: rotate(150deg);
  z-index: -1;
}
.fancy-portfolio-one:after {
  content: "";
  position: absolute;
  width: 890px;
  height: 890px;
  border-radius: 50%;
  top: 5%;
  left: -8%;
  background: rgba(255, 4, 64, 0.15);
  filter: blur(300px);
  transform: rotate(150deg);
  z-index: -2;
}