
/*-------------------- Fancy Hero Six ---------------------*/
.fancy-hero-six {
  padding: 48px 0 95px;
  text-align: center;
}
.fancy-hero-six .heading {
  font-family: "gordita";
  font-size: 68px;
  font-weight: 500;
  line-height: initial;
  color: var(--heading);
}
.fancy-hero-six .sub-heading {
  font-size: 24px;
  margin-top: 22px;
  color: #000;
}