
/*-------------------- Fancy Feature Thirty Two --------------------*/
.fancy-feature-thirtyTwo {
  background: #fafcff;
}
.fancy-feature-thirtyTwo .block-style-twentyTwo {
  border-radius: 10px;
  box-shadow: 0px 25px 60px rgba(13, 32, 96, 0.04);
}
.fancy-feature-thirtyTwo .block-style-twentyTwo .icon {
  width: 60px;
  height: 60px;
}