
/*----------------- Fancy Text block Twenty Two -------------------*/
.fancy-text-block-twentyTwo .text-wrapper {
  padding-left: 40px;
}
.fancy-text-block-twentyTwo .text-wrapper p {
  font-size: 20px;
  line-height: 1.75em;
  color: #292929;
  padding: 40px 0 67px;
}
.fancy-text-block-twentyTwo .illustration-holder img {
  animation: jumpTwo 6s infinite linear;
}