
/*----------------- Fancy Short Banner Three -------------------*/
.fancy-short-banner-three .bg-wrapper {
  background: url(../../images/shape/bg2.svg) no-repeat;
  background-size: cover;
  border-radius: 40px;
  padding: 82px 50px 89px;
  position: relative;
}
.fancy-short-banner-three .bg-wrapper:before {
  content: url(../../images/shape/43.svg);
  position: absolute;
  top: -124px;
  right: -104px;
  z-index: -1;
}
.fancy-short-banner-three .title-style-one h2 {
  font-size: 48px;
}
.fancy-short-banner-three .form-wrapper {
  padding-left: 65px;
}
.fancy-short-banner-three .form-wrapper form {
  position: relative;
  height: 70px;
  background: #fff;
  border-radius: 7px;
}
.fancy-short-banner-three .form-wrapper form input {
  font-style: italic;
  font-size: 18px;
  width: 100%;
  border: none;
  height: 100%;
  padding: 0 150px 0 25px;
  background: transparent;
}
.fancy-short-banner-three .form-wrapper form button {
  position: absolute;
  right: 8px;
  bottom: 8px;
  top: 8px;
  width: 150px;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  background: var(--red-light);
  transition: all 0.3s ease-in-out;
}
.fancy-short-banner-three .form-wrapper form button:hover {
  background: #ffba12;
  box-shadow: 0px 15px 30px rgba(255, 186, 18, 0.2);
}
.fancy-short-banner-three .form-wrapper p {
  font-size: 16px;
  padding-top: 10px;
}
.fancy-short-banner-three .form-wrapper p a {
  color: #000;
}
.fancy-short-banner-three .form-wrapper p a:hover {
  text-decoration: underline;
}