
/*----------------- Fancy Feature Nineteen -------------------*/
.block-style-nineteen {
  background: #fff;
  border-radius: 10px;
  padding: 37px 50px;
  margin-top: 35px;
  border-left-width: 5px;
  border-left-style: solid;
  box-shadow: 0 20px 60px rgba(10, 30, 81, 0.04);
}
.block-style-nineteen .text {
  padding-left: 30px;
}
.block-style-nineteen .text h4 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 17px;
}
.block-style-nineteen .text p {
  font-size: 16px;
  line-height: 1.875em;
}