
/*-------------------- Fancy Portfolio Two ---------------------*/
.mixitUp-container {
  overflow: hidden;
}
.po-control-one button {
  display: inline-block;
  line-height: 48px;
  border-radius: 8px;
  padding: 0 33px;
  margin: 0 0.9%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.po-control-one li.react-tabs__tab.react-tabs__tab--selected button {
  background: #000;
  color: #fff;
}
.mixitUp-container.gutter-space-one {
  margin: 0 -25px;
}
.mixitUp-container.gutter-space-one .mix {
  padding: 0 25px;
  margin-bottom: 50px;
}
.mixitUp-container.gutter-space-two {
  margin: 0 -20px;
}
.mixitUp-container.gutter-space-two .mix {
  padding: 0 20px;
  margin-bottom: 40px;
}
.fancy-portfolio-two .mix {
  width: 33.33%;
}
.fancy-portfolio-two .mix.mixL {
  width: 66.66%;
}
.portfolio-block-two {
  border-radius: 20px;
}
.portfolio-block-two {
  overflow: hidden;
  box-shadow: 0 5px 28px 4px #efefef;
}
.portfolio-block-two .hover-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #141222;
  padding: 15px 5px 20px 30px;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  transform: translateY(100%);
}
.portfolio-block-two .hover-content h3 a {
  font-family: "gilroy-bold";
  font-size: 22px;
  color: #fff;
  position: relative;
}
.portfolio-block-two .hover-content h3 a:before {
  content: "";
  position: absolute;
  left: 104%;
  bottom: 6px;
  width: 22px;
  height: 2px;
  background: #fff;
}
.portfolio-block-two .hover-content h3 a:hover {
  text-decoration: underline;
}
.portfolio-block-two .hover-content .tag {
  font-size: 15px;
  margin-top: -5px;
  color: rgba(255, 255, 255, 0.7);
}
.portfolio-block-two {
  img {
    cursor: pointer;
  }
  .fancybox {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    transform: translateX(10px);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    .inner {
      cursor: pointer;
    }
  }
}
.portfolio-block-two .fancybox:hover {
  background: var(--blue-dark);
}
.portfolio-block-two:hover .fancybox {
  opacity: 1;
  transform: translateX(0);
}
.portfolio-block-two:hover .hover-content {
  opacity: 1;
  transform: translateY(0);
}
.portfolio-block-two:hover .img-meta {
  opacity: 0.85;
}