

/*------------------ Fancy Short Banner Six ----------------*/
.fancy-short-banner-six {
  position: relative;
  text-align: center;
}
.fancy-short-banner-six .shape-one {
  left: 0;
  top: 22%;
}
.fancy-short-banner-six p {
  font-size: 24px;
  color: #000;
  padding: 30px 0 75px;
}