
/*----------------- Fancy Feature Seventeen -------------------*/
.fancy-feature-seventeen {
  padding-left: 15px;
  padding-right: 15px;
}
.fancy-feature-seventeen .bg-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  background: #fcf7ea;
  border-radius: 25px;
  padding: 90px 0 40px;
}
.fancy-feature-seventeen .block-meta {
  margin-bottom: 70px;
  text-align: center;
  padding: 0 30px;
}
.fancy-feature-seventeen .block-meta .icon {
  height: 35px;
}
.fancy-feature-seventeen .block-meta .icon img {
  margin: 0 auto;
}
.fancy-feature-seventeen .block-meta h4 {
  font-size: 24px;
  font-weight: 500;
  padding: 28px 0 14px;
}
.fancy-feature-seventeen .block-meta p {
  line-height: 32px;
  color: #292929;
}