
/*---------------- Fancy Text block Eight ---------------*/
.block-style-six {
  position: relative;
}
.block-style-six:nth-child(even):before {
  content: "";
  position: absolute;
  width: 100%;
  height: 13px;
  left: 0;
  bottom: 0;
  background: url(../../images/shape/line-shape-4.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.block-style-six .text-details .title {
  font-size: 42px;
  line-height: 1.26em;
  padding: 24px 0 34px;
}
.block-style-six .text-details .text-meta {
  font-size: 22px;
  line-height: 1.54em;
  padding-bottom: 65px;
}
.block-style-six .text-details .quote-wrapper {
  background: #f4f9fc;
  border-radius: 5px;
  padding: 35px 50px 25px 35px;
  position: relative;
}
.block-style-six .text-details .quote-wrapper .quote-icon {
  width: 57px;
  height: 57px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 27px;
  top: -29px;
}
.block-style-six .text-details .quote-wrapper blockquote {
  font-size: 18px;
  line-height: 1.55em;
  color: #0d0d0d;
}
.block-style-six .text-details .name {
  font-size: 16px;
  color: #a8a8a8;
  margin-top: 24px;
  line-height: 1.44em;
}
.block-style-six .text-details .name strong {
  font-weight: 500;
  color: #191717;
}
.block-style-six .illustration-one .shape-one {
  width: 6px;
  height: 6px;
  background: #f2dad5;
  top: -7%;
  right: 41%;
  animation: jumpThree 5s infinite linear;
}
.block-style-six .illustration-one .shape-two {
  width: 14px;
  height: 14px;
  background: #f77a56;
  top: 14%;
  right: -10%;
  animation: jumpTwo 5s infinite linear;
}
.block-style-six .illustration-one .shape-three {
  width: 7px;
  height: 7px;
  background: #f2dad5;
  bottom: 29%;
  right: -5%;
  animation: jumpThree 5s infinite linear;
}
.block-style-six .illustration-one .shape-four {
  width: 10px;
  height: 10px;
  background: #f77a56;
  bottom: -2%;
  right: 51%;
  animation: jumpTwo 5s infinite linear;
}
.block-style-six .illustration-one .shape-five {
  width: 7px;
  height: 7px;
  background: #f2dad5;
  top: 45%;
  left: 5%;
  animation: jumpThree 5s infinite linear;
}
.block-style-six .illustration-one .shape-six {
  top: 17%;
  left: 6%;
  animation: jumpTwo 8s infinite linear;
}
.block-style-six .illustration-one .shape-seven {
  top: 42%;
  right: -3%;
  animation: rotatedTwo 35s infinite linear;
}
.block-style-six .illustration-two .shape-one {
  width: 6px;
  height: 6px;
  background: #f2dad5;
  top: -5%;
  left: 22%;
  animation: jumpThree 5s infinite linear;
}
.block-style-six .illustration-two .shape-two {
  width: 8px;
  height: 8px;
  background: #f2dad5;
  top: 63%;
  right: 12%;
  animation: jumpTwo 5s infinite linear;
}
.block-style-six .illustration-two .shape-three {
  width: 6px;
  height: 6px;
  background: #f77a56;
  bottom: -11%;
  right: 44%;
  animation: jumpThree 5s infinite linear;
}
.block-style-six .illustration-two .shape-four {
  width: 10px;
  height: 10px;
  background: #f77a56;
  bottom: 39%;
  left: -10%;
  animation: jumpTwo 5s infinite linear;
}
.block-style-six .illustration-two .shape-five {
  top: 9%;
  left: -3%;
  animation: rotatedTwo 35s infinite linear;
}
.block-style-six .illustration-two .shape-six {
  bottom: 3%;
  right: 20%;
  animation: jumpTwo 8s infinite linear;
}