
/*----------------- Fancy Feature Seven --------------*/
.fancy-feature-seven {
  background: #ecf6ff;
  padding: 170px 0 150px;
  position: relative;
  z-index: 1;
}
.fancy-feature-seven:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 45px;
  background: url(../../images/shape/58.svg) no-repeat top center;
  background-size: cover;
  left: 0;
  top: -42px;
}
.fancy-feature-seven:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 23px;
  background: url(../../images/shape/59.svg) no-repeat top center;
  background-size: cover;
  left: 0;
  bottom: -20px;
}
.block-style-nine {
  position: relative;
}
.block-style-nine .text-wrapper h6 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.63);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.block-style-nine .text-wrapper .title {
  font-size: 42px;
  line-height: 1.28em;
  padding: 5px 0 30px;
}
.block-style-nine .text-wrapper p {
  font-size: 20px;
  line-height: 1.8em;
  color: rgba(14, 14, 14, 0.8);
}
.block-style-nine:nth-child(1) {
  padding-bottom: 30px;
}
.block-style-nine:nth-child(1):before {
  content: url(../../images/shape/55.svg);
  position: absolute;
  left: 33%;
  bottom: -14%;
}
.block-style-nine:nth-child(2) {
  padding-bottom: 30px;
}
.block-style-nine:nth-child(2):before {
  content: url(../../images/shape/56.svg);
  position: absolute;
  right: 33%;
  bottom: -26%;
}
.block-style-nine:nth-child(3) {
  padding-bottom: 60px;
}
.block-style-nine:nth-child(3):before {
  content: url(../../images/shape/57.svg);
  position: absolute;
  left: 36%;
  bottom: -16%;
}