
/*----------------- Fancy Text block Twenty Three -------------------*/
.fancy-text-block-twentyThree .text-wrapper .cl-text {
  font-size: 24px;
  color: #000;
  margin-bottom: 25px;
}
.fancy-text-block-twentyThree .text-wrapper .cl-text span {
  color: #ffb840;
}
.fancy-text-block-twentyThree .img-container {
  padding: 0 10% 12% 0;
}
.fancy-text-block-twentyThree .img-container .screen-one {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  width: 51.8%;
  animation: jumpTwo 5s infinite linear;
}
.block-style-twentyEight .icon {
  height: 37px;
}
.block-style-twentyEight h4 {
  font-weight: 500;
  font-size: 24px;
  margin: 33px 0 20px;
}