
/*-------------------- Fancy Hero Seven ---------------------*/
.fancy-hero-seven {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding: 200px 0 170px;
}
.fancy-hero-seven:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.fancy-hero-seven h2 {
  font-size: 72px;
  font-weight: 500;
  color: #fff;
  letter-spacing: -1px;
}
.fancy-hero-seven p {
  font-size: 22px;
  color: #fff;
  line-height: 1.75em;
  padding-top: 25px;
}