
/*----------------- Fancy Short Banner Fourteen -------------------*/
.fancy-short-banner-fourteen {
  background: #1f1f1f;
  padding: 110px 0 120px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.fancy-short-banner-fourteen .title-style-thirteen h2 {
  color: #fff;
  line-height: 1.19em;
  letter-spacing: 0;
}
.fancy-short-banner-fourteen p {
  font-size: 24px;
  color: #fff;
  padding: 50px 0;
}
.fancy-short-banner-fourteen .shape-one {
  top: 0;
  right: 0;
}
.fancy-short-banner-fourteen .shape-two {
  bottom: 0;
  left: 0;
}
.fancy-short-banner-fourteen .shape-three {
  top: 18%;
  left: 14%;
}
.fancy-short-banner-fourteen .shape-four {
  top: 52%;
  left: 6%;
}
.fancy-short-banner-fourteen .shape-five {
  top: 79%;
  left: 16%;
}
.fancy-short-banner-fourteen .shape-six {
  top: 18%;
  right: 20%;
}
.fancy-short-banner-fourteen .shape-seven {
  top: 49%;
  right: 10%;
}
.fancy-short-banner-fourteen .shape-eight {
  top: 77%;
  right: 20%;
}