
/*--------------------- Fancy Hero Two --------------------*/
.fancy-hero-two {
  padding: 0 70px;
}
.fancy-hero-two .bg-wrapper {
  background: url(../../images/shape/bg3.svg) no-repeat center;
  background-size: cover;
  border-radius: 20px;
  padding: 108px 0 110px;
  text-align: center;
}
.fancy-hero-two .page-title {
  font-size: 24px;
  color: #b1b1b1;
}
.fancy-hero-two .heading {
  font-family: "gilroy-black";
  font-size: 80px;
  line-height: 1.1em;
  padding: 0 0 38px;
}
.fancy-hero-two .sub-heading {
  font-size: 24px;
  line-height: 1.41em;
  color: #2a2a2a;
}