
/*------------------- Faq Section Three ----------------*/
.faq-section-four {
  background: #dff1ee;
  position: relative;
  z-index: 1;
  padding: 78px 0 150px;
}
.faq-section-four.bg-white {
  background: #fff;
}
.faq-section-four.bg-white:before,
.faq-section-four.bg-white:after {
  display: none;
}
.faq-section-four:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  background: url(../../images/shape/118.svg) no-repeat center top;
  background-size: cover;
  left: 0;
  top: -98px;
}
.faq-section-four:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 33px;
  background: url(../../images/shape/119.svg) no-repeat center bottom;
  background-size: cover;
  left: 0;
  bottom: -32px;
}
.faq-section-four .shape-one {
  left: 0;
  top: 21%;
}
.faq-section-four .shape-two {
  right: 0;
  top: 75%;
}
.accordion-style-four .card {
  background: #fff;
  border-radius: 0;
  border: none;
  margin-bottom: 10px;
}
.faq-section-four.bg-white .accordion-style-four .card {
  background: #f7f7f7;
}
.accordion-style-four .card .card-header {
  background: transparent;
  border-radius: 0;
  padding: 0;
  border: none;
}
.accordion-style-four .card .card-header button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 27px 35px 27px 45px;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  border: none;
  border-radius: 0;
  margin: 0;
  color: var(--heading);
  text-decoration: none;
  position: relative;
}
.accordion-style-four .card .card-header button:before {
  content: "\f107";
  font-family: "font-awesome";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  @media screen and (max-width: 767px) {
    right: 12px;
  }
}
.accordion-style-four .card .card-body {
  padding: 0 50px 20px 45px;
}
.accordion-style-four .card .card-body p {
  padding-bottom: 15px;
}
.accordion-style-four .card .card-body p a {
  text-decoration: underline;
  color: var(--p-color);
}