/*------------- Global Prefix -------------------*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: var(--blue-dark);
  border-radius: 0;
}
:root {
  --text-color: #73737b;
  --text-light: #888888;
  --heading: #101621;
  --blue-dark: #6f55ff;
  --blue-darker: #572ff6;
  --red-light: #fd6a5e;
  --yellow-deep: #ffb840;
  --blue-light: #3bb0d7;
  --purple-blue: #655c97;
  --vin-red: #973c56;
  scroll-behavior: smooth;
}
::selection {
  background-color: var(--blue-dark);
  color: #fff;
}
body {
  // font-family: "Roboto", sans-serif;
  font-family: "gordita";
  font-weight: normal;
  font-size: 18px;
  position: relative;
  line-height: 1.7em;
  color: var(--text-color);
}
/*______________________ Global style ___________________*/
.main-page-wrapper {
  overflow: hidden;
  padding-top: 150px;
}
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  color: var(--heading);
  font-weight: normal;
}
.h1,
h1 {
  font-size: 80px;
  line-height: 1.1em;
}
.h2,
h2 {
  font-size: 52px;
  line-height: 1.1em;
}
.h3,
h3 {
  font-size: 36px;
}
.h4,
h4 {
  font-size: 22px;
}
.h5,
h5 {
  font-size: 20px;
}
.h6,
h6 {
  font-size: 15px;
}
.font-rubik {
  font-family: "Rubik", sans-serif !important;
}
.font-gilroy-bold {
  font-family: "gilroy-bold" !important;
}
.font-slab {
  font-family: "Roboto Slab", serif !important;
}
.font-gordita {
  font-family: "gordita" !important;
}
.font-recoleta {
  font-family: "Recoleta" !important;
}
::-webkit-input-placeholder {
  /* Edge */
  color: #acaeb3;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #acaeb3;
}
::placeholder {
  color: #acaeb3;
}
.cs-screen {
  position: absolute;
}
.illustration-holder {
  position: relative;
}
.shapes {
  position: absolute;
  z-index: -1;
}
.dark-style {
  background: #0f1123;
  color: #afafaf;
}
.dark-style .h1,
.dark-style h1,
.dark-style .h2,
.dark-style h2,
.dark-style .h3,
.dark-style h3,
.dark-style .h4,
.dark-style h4,
.dark-style .h5,
.dark-style h5,
.dark-style .h6,
.dark-style h6 {
  color: #fff;
}
.gr-bg-one {
  background: linear-gradient(90.6deg, #f548a0 2.93%, #f57c35 99.47%);
}
.hover-reverse-gr-bg-one {
  position: relative;
  z-index: 1;
}
.hover-reverse-gr-bg-one:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(270.01deg, #f548a0 0.01%, #f57c35 100%);
  border-radius: 6px;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  z-index: -1;
}
.hover-reverse-gr-bg-one:hover:before {
  opacity: 1;
}
.top-border {
  border-top: 1px solid #efefef;
}
.bottom-border {
  border-bottom: 1px solid #efefef;
}
/*-------------- Prefix Classes ----------------*/
.tran3s {
  transition: all 0.3s ease-in-out;
}
.tran4s {
  transition: all 0.4s ease-in-out;
}
.tran5s {
  transition: all 0.5s ease-in-out;
}
.tran6s {
  transition: all 0.6s ease-in-out;
}
