
/*--------------------- Pricing Section Three ------------------*/
.pricing-section-three {
  background: #fdecd8;
  position: relative;
  z-index: 1;
  padding: 105px 0 170px;
}
.pricing-section-three:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 85px;
  background: url(../../images/shape/115.svg) no-repeat center top;
  background-size: cover;
  left: 0;
  top: -84px;
}
.pricing-section-three:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 33px;
  background: url(../../images/shape/116.svg) no-repeat center bottom;
  background-size: cover;
  left: 0;
  bottom: -32px;
}
.pricing-section-three .shape-one {
  top: 7%;
  right: 13%;
  animation: jumpThree 5s infinite linear;
}
.pricing-section-three .shape-two {
  top: 45%;
  right: 5%;
  animation: jumpTwo 5s infinite linear;
}
.pricing-section-three .shape-three {
  top: 88%;
  right: 10%;
  animation: jumpThree 5s infinite linear;
}
.pricing-section-three .shape-four {
  top: 89%;
  left: 11%;
  animation: jumpTwo 5s infinite linear;
}
.pricing-section-three .shape-five {
  top: 43%;
  left: 4%;
  animation: jumpThree 5s infinite linear;
}
.pricing-section-three .shape-six {
  top: 9%;
  left: 15%;
  animation: jumpTwo 5s infinite linear;
}
.pricing-section-three .pricing-table-area-three {
  position: relative;
}
.pricing-section-three .pricing-table-area-three:before {
  content: url(../../images/shape/117.svg);
  position: absolute;
  left: -5%;
  top: -5%;
  z-index: -1;
}
.pricing-table-area-three .pr-table-wrapper {
  background: #fff;
  padding: 40px 20px 40px;
  text-align: center;
  margin-top: 45px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.pricing-table-area-three .pr-table-wrapper:hover {
  transform: translateY(-10px);
}
.pricing-table-area-three .pr-table-wrapper.skew-right:before {
  content: "";
  position: absolute;
  top: -8px;
  right: 0;
  width: 100%;
  height: 25px;
  background: #fff;
  transform: skewY(2.3deg);
}
.pricing-table-area-three .pr-table-wrapper.skew-left:before {
  content: "";
  position: absolute;
  top: -8px;
  right: 0;
  width: 100%;
  height: 25px;
  background: #fff;
  transform: skewY(-2.3deg);
}
.pricing-table-area-three .pr-table-wrapper .pack-name {
  font-size: 32px;
  color: #000;
}
.pricing-table-area-three .pr-table-wrapper .pack-name span {
  position: relative;
  z-index: 1;
}
.pricing-table-area-three .pr-table-wrapper .pack-name span:before {
  content: "";
  width: 109%;
  height: 15px;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  z-index: -1;
}
.pricing-table-area-three .pr-table-wrapper .pack-name.pc1 span:before {
  background: #d4fdf1;
}
.pricing-table-area-three .pr-table-wrapper .pack-name.pc2 span:before {
  background: #dbf7ff;
}
.pricing-table-area-three .pr-table-wrapper .pack-name.pc3 span:before {
  background: #ffe3e3;
}

.pricing-table-area-three .pr-table-wrapper .price {
  font-size: 65px;
  color: #000;
  padding: 24px 0 0;
  line-height: initial;
}
.pricing-table-area-three .pr-table-wrapper .user-condition {
  font-size: 24px;
  color: #000;
}
.pricing-table-area-three .pr-table-wrapper .line {
  width: 100%;
  margin: 25px auto 38px;
}
.pricing-table-area-three .pr-table-wrapper ul {
  text-align: left;
  padding-left: 18px;
}
.pricing-table-area-three .pr-table-wrapper ul li {
  font-family: "Rubik", sans-serif;
  font-size: 17px;
  line-height: 42px;
  color: #464646;
  position: relative;
  padding-left: 30px;
}
.pricing-table-area-three .pr-table-wrapper ul li.disable {
  color: #b9b9b9;
}
.pricing-table-area-three .pr-table-wrapper ul li:before {
  content: url(../../images/icon/63.svg);
  position: absolute;
  left: 0;
  top: 1px;
}
.pricing-table-area-three .pr-table-wrapper ul li.disable:before {
  content: url(../../images/icon/64.svg);
  top: 5px;
  left: -8px;
}
.pricing-table-area-three .pr-table-wrapper .subscribe-btn {
  display: block;
  width: 95%;
  margin: 37px auto 0;
  line-height: 46px;
  border: 2px solid var(--purple-blue);
  text-align: center;
  color: var(--purple-blue);
  transition: all 0.3s ease-in-out;
}
.pricing-table-area-three .pr-table-wrapper .subscribe-btn:hover {
  background: var(--purple-blue);
  color: #fff;
}
.pricing-section-three-inner-page {
  background: #fbf3ec;
  position: relative;
  z-index: 1;
  padding: 215px 0 110px;
}
.pricing-section-three-inner-page .shape-one {
  left: 0;
  top: 19%;
}
.pricing-section-three-inner-page .shape-two {
  right: 0;
  top: 19%;
}
.pricing-section-three-inner-page:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 103px;
  left: 0;
  bottom: -100px;
  background: url(../../images/shape/99.svg) no-repeat center bottom;
  background-size: cover;
}