
/*----------------- Terms and Condition ---------------*/
.terms_and_policy {
  padding: 120px 0;
  border-bottom: 1px solid #ececec;
}
.terms_and_policy .nav-tabs {
  border: none;
  background: #f2fbfd;
  padding: 30px 10px 30px 45px;
}
.terms_and_policy .nav-item {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin: 0;
}
.terms_and_policy .nav-item .nav-link {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 60px;
  padding: 0;
  background: transparent;
  border: none;
  color: #222;
  transition: all 0.2s ease-in-out;
}
.terms_and_policy .nav-item .nav-link.active {
  color: var(--blue-dark);
}
.terms_and_policy .tab-content {
  padding: 0 0 0 50px;
}
.terms_and_policy .tab-content h2 {
  font-size: 55px;
  padding-bottom: 10px;
}
.terms_and_policy .tab-content .update-date {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 20px;
}
.terms_and_policy .tab-content h3 {
  font-family: "gilroy-semibold";
  font-size: 28px;
  padding: 50px 0 25px;
}
.terms_and_policy .tab-content p {
  line-height: 34px;
  margin-bottom: 15px;
}
.terms_and_policy .tab-content p a {
  text-decoration: underline;
  color: #000;
}
.terms_and_policy .tab-content ul {
  list-style-type: disc;
  padding-left: 18px;
}
.terms_and_policy .tab-content ul li {
  color: #000;
}
.terms_and_policy .tab-content ul li a {
  text-decoration: underline;
  color: #000;
}
.terms_and_policy .tab-content ul li {
  padding-bottom: 10px;
}