
/*---------------------- Theme Hero Banner/Four ---------------*/
.hero-banner-four {
  position: relative;
  background: #fbf3ec;
  padding: 250px 0 110px;
  z-index: 1;
}
.hero-banner-four:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 103px;
  left: 0;
  bottom: -100px;
  background: url(../../images/shape/99.svg) no-repeat center bottom;
  background-size: cover;
}
.hero-banner-four .shape-four {
  top: 1%;
  left: 15%;
}
.hero-banner-four .shape-five {
  top: 11%;
  right: 31%;
}
.hero-banner-four .shape-six {
  bottom: 5%;
  left: 0;
}
.hero-banner-four .shape-seven {
  bottom: 8%;
  right: 0;
}
.hero-banner-four h1 {
  font-family: "Roboto Slab", serif;
  font-size: 85px;
  line-height: 1.14em;
}
.hero-banner-four h1 span {
  position: relative;
  z-index: 5;
}
.hero-banner-four h1 span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 25px;
  background: rgba(241, 193, 83, 0.4);
  left: 0;
  bottom: 12px;
  z-index: -1;
}
.hero-banner-four .sub-text {
  font-size: 28px;
  color: #565657;
  line-height: 1.4em;
  padding: 50px 0 65px;
}
.hero-banner-four .review-text {
  text-align: right;
  font-size: 20px;
  color: #000;
  padding-top: 30px;
}
.hero-banner-four .review-text span {
  font-size: 1.6em;
  color: var(--vin-red);
  text-decoration: underline;
}
.hero-banner-four .illustration {
  max-width: 660px;
}
.hero-banner-four .illustration-holder .shape-one {
  width: 14%;
  top: 9%;
  right: 8%;
  z-index: 1;
  animation: jump10p 5s infinite linear;
}
.hero-banner-four .illustration-holder .shape-two {
  width: 14%;
  top: 0;
  right: 30%;
  z-index: 1;
  animation: jump10pRsv 5s infinite linear;
}
.hero-banner-four .illustration-holder .shape-three {
  width: 15%;
  top: 9%;
  right: 51%;
  z-index: 1;
  animation: jump10p 5s infinite linear;
}