/*=======================================================================
                              Documentation                
=========================================================================*/
.theme-menu-three .logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.theme-menu-three .right-widget {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.theme-menu-three .navbar {
  position: static;
}
.theme-menu-three .user-login-button li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 46px;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.theme-menu-three .user-login-button li a:hover {
  color: var(--blue-light);
}
.theme-menu-three .user-login-button .signIn-action img {
  margin-right: 12px;
  margin-top: -3px;
}
.theme-menu-three .user-login-button li .signUp-action {
  border: 2px solid #000;
  background: #000;
  padding: 0 20px;
  color: #fff;
  margin-left: 35px;
}
.theme-menu-three .user-login-button li .signUp-action img {
  margin-left: 12px;
}
.theme-menu-three .user-login-button li .signUp-action:hover {
  background: var(--blue-light);
  border-color: var(--blue-light);
  color: #fff;
}