/*---------------------Theme Hero Banner/Two ---------------*/
.hero-banner-two {
  padding: 90px 0 110px;
  position: relative;
  z-index: 1;
}
.hero-banner-two .container {
  max-width: 1490px;
  position: relative;
  padding: 0 40px;
}
.hero-banner-two .hero-text-wrapper h1 {
  font-family: "gilroy-black";
  font-size: 78px;
  line-height: 1.11em;
}
.hero-banner-two .hero-text-wrapper h1 span {
  position: relative;
}
.hero-banner-two .hero-text-wrapper h1 span img {
  left: 0;
  bottom: -15px;
  width: 100%;
}
.hero-banner-two .hero-text-wrapper .sub-text {
  font-size: 28px;
  line-height: 1.5em;
  color: #565657;
  padding: 40px 60px 75px 0;
}
.hero-banner-two .hero-text-wrapper form {
  max-width: 550px;
  height: 70px;
  position: relative;
}
.hero-banner-two .hero-text-wrapper form input {
  border: 2px solid #040404;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 0 200px 0 30px;
}
.hero-banner-two .hero-text-wrapper form button {
  position: absolute;
  right: 10px;
  top: 8px;
  bottom: 8px;
  background: var(--red-light);
  width: 184px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.hero-banner-two .hero-text-wrapper form button:hover {
  background: var(--yellow-deep);
}
.hero-banner-two .hero-text-wrapper .list-item li {
  font-size: 15px;
  color: #141518;
  position: relative;
  padding-left: 22px;
  margin-right: 13px;
}
.hero-banner-two .hero-text-wrapper .list-item.lg li {
  font-size: 19px;
  line-height: 1.57em;
  position: relative;
  padding-left: 22px;
  margin-bottom: 15px;
}
.hero-banner-two .hero-text-wrapper .list-item li:before {
  content: url(../../images/icon/19.svg);
  position: absolute;
  left: 5px;
  top: -1px;
}
.hero-banner-two .illustration-holder .shape-one {
  z-index: 1;
  top: 7%;
  left: -3%;
  width: 51.8%;
  animation: jumpTwo 8s infinite linear;
}
.hero-banner-two .illustration-holder .shape-two {
  z-index: 1;
  top: 40%;
  left: -11%;
  width: 54.6%;
  animation: jumpThree 8s infinite linear;
}
.hero-banner-two .illustration-holder .shape-three {
  z-index: 1;
  top: 45%;
  right: -5%;
  width: 53.2%;
  animation: jumpTwo 8s infinite linear;
}
.hero-banner-two .trusted-companies p {
  font-size: 20px;
  color: #000;
  padding-bottom: 50px;
}
.hero-banner-two .trusted-companies p span {
  font-size: 1.6em;
  font-weight: 500;
  color: #ff6559;
  text-decoration: underline;
}
/*.hero-banner-two .trusted-companies .slider-arrow li {
  width: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  margin: 0 10px;
  font-size: 24px;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  transform: scale(0.8);
}
.hero-banner-two .trusted-companies .slider-arrow li:first-child i {transform: rotate(180deg); display: inline-block;}
.hero-banner-two .trusted-companies .slider-arrow li:hover {
  opacity: 1;
  transform: scale(1);
}*/