
/*=======================================================================
                              Product landing / Doc Signature        
=========================================================================*/
/*---------------------Theme Hero Banner/Eleven ---------------*/
.hero-banner-eleven {
  position: relative;
  z-index: 1;
  margin: 90px 0 0;
}
.hero-banner-eleven .hero-text-wrapper h1 {
  font-family: "gordita";
  font-weight: 700;
  font-size: 82px;
  line-height: 1.3em;
}
.hero-banner-eleven .hero-text-wrapper h1 span {
  position: relative;
  display: inline-block;
}
.hero-banner-eleven .hero-text-wrapper h1 span img {
  left: 0;
  bottom: -10px;
  width: 100%;
}
.hero-banner-eleven .hero-text-wrapper .hero-sub-heading {
  font-size: 28px;
  line-height: 1.5em;
  color: #000;
  padding: 40px 0 68px 0;
}
.hero-banner-eleven form {
  max-width: 600px;
  height: 80px;
  position: relative;
}
.hero-banner-eleven form input {
  border: none;
  background: #f4f4f4;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 0 190px 0 30px;
}
.hero-banner-eleven form button {
  position: absolute;
  right: 10px;
  top: 8px;
  bottom: 8px;
  font-weight: 500;
  background: #242424;
  width: 170px;
  border-radius: 7px;
  text-align: center;
  color: #fff;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}
.hero-banner-eleven form button:hover {
  background: #ffb840;
}
.hero-banner-eleven .term-text {
  font-size: 16px;
  color: #979797;
  margin-top: 22px;
  letter-spacing: -0.5px;
}
.hero-banner-eleven .illustration-container {
  position: absolute;
  top: -10%;
  right: 4%;
  max-width: 46%;
}