/*---------------------Theme Hero Banner/Nine ---------------*/
.hero-banner-nine {
  position: relative;
  z-index: 1;
  padding-top: 270px;
}
.hero-banner-nine .hero-heading {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.25em;
}
.hero-banner-nine .hero-heading span {
  display: inline-block;
  position: relative;
}
.hero-banner-nine .hero-heading span .marker {
  position: absolute;
  max-height: 100%;
  z-index: -1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.hero-banner-nine .hero-sub-heading {
  font-size: 24px;
  line-height: 1.5em;
  color: #2f2f2f;
  padding: 36px 0 58px 0;
}
.hero-banner-nine form {
  max-width: 550px;
  height: 70px;
  position: relative;
}
.hero-banner-nine form input {
  border: none;
  background: #f4f4f4;
  border-radius: 54px;
  width: calc(100% - 100px);
  height: 100%;
  font-size: 16px;
  padding: 0 50px;
}
.hero-banner-nine form input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(175, 175, 175);
  opacity: 1; /* Firefox */
}

.hero-banner-nine form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(175, 175, 175);
}

.hero-banner-nine form input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(175, 175, 175);
}
.hero-banner-nine form button {
  position: absolute;
  right: 0;
  top: 0;
  background: #572ff6;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}
.hero-banner-nine form button:hover {
  background: #ff4a8b;
}
.hero-banner-nine form ::-webkit-input-placeholder {
  /* Edge */
  color: #0b0b0b;
}
.hero-banner-nine form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0b0b0b;
}
.hero-banner-nine form ::placeholder {
  color: #0b0b0b;
}
.hero-banner-nine .term-text {
  font-size: 16px;
  color: #a5a5a5;
  margin-top: 22px;
}
.hero-banner-nine .term-text a {
  color: #572ff6;
}
.hero-banner-nine .bg-shape {
  top: 0;
  right: 0;
}
.hero-banner-nine .illustration-container {
  position: absolute;
  right: 0;
  top: 17%;
  z-index: 1;
  width: 44%;
}
.hero-banner-nine .illustration-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 70px;
  right: -30px;
  bottom: 50px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  z-index: -1;
}
.hero-banner-nine .illustration-container:after {
  content: "";
  position: absolute;
  top: -25px;
  left: 100px;
  right: -30px;
  bottom: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  z-index: -2;
}
.hero-banner-nine .img-meta.justify-content-center {
  justify-content: start !important;
}

.partner-slider-two p {
  font-size: 20px;
  color: #000;
  padding-bottom: 45px;
}
.partner-slider-two p span {
  font-weight: 500;
}
.partner-slider-two .img-meta {
  height: 80px;
}
.partner-slider-two p.text-lg {
  font-size: 36px;
  line-height: 1.44em;
  font-weight: 500;
}
.partner-slider-two p.text-lg span {
  color: #ffb840;
}
