/*^^^^^^^^^^^^^^^^^^^^^ Theme Menu ^^^^^^^^^^^^^^^^^^^^^^^^^*/
.theme-main-menu {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 30px 70px;
  transition: all 0.4s ease-out;
}
.theme-main-menu.bg-none {
  background: transparent;
}
.theme-main-menu.sticky-menu.fixed {
  z-index: 9999;
  padding-top: 0;
  padding-bottom: 0;
  background: #fff;
  box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.1);
}
.theme-main-menu .logo a {
  display: block;
}
.theme-menu-one .logo img {
  max-width: 120px;
}
.theme-menu-one .right-button-group a {
  border-radius: 5px;
  font-weight: 500;
  font-size: 13px;
  line-height: 45px;
  text-transform: uppercase;
  text-align: center;
  color: var(--heading);
  transition: all 0.3s ease-in-out;
}
.theme-menu-one .right-button-group .signIn-action:hover {
  color: var(--blue-dark);
}
.theme-menu-one .right-button-group .signUp-action {
  width: 155px;
  color: #fff;
  background: var(--blue-dark);
  box-shadow: 0px 15px 40px rgba(161, 146, 250, 0.35);
  margin-left: 35px;
}
.theme-menu-one .right-button-group .signUp-action:hover {
  background: #ffba12;
  box-shadow: 0px 15px 40px rgba(255, 186, 18, 0.3);
}
.theme-menu-one .right-button-group {
  margin-left: 100px;
}